<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Auth0 DEMO</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <a href="">Log Out</a>
            <a href="">Profile</a>
        {% else %}
            <a href="">Login</a>
        {% endif %}
    </header>

    {% block body %}
    {% endblock body %}

</body>
</html>